<h1>{{titulo}}</h1>
<hr>
<br>

<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Prioridade</th>
            <th scope="col">Data criação</th>
            <th scope="col">Data conclusão</th>
            <th scope="col">Percentual</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarefa of listaTarefas">
            <td>{{tarefa.id}}</td>
            <td>{{tarefa.titulo}}</td>
            <td>{{convertePrioridade(tarefa.prioridade)}}</td>
            <td>{{formatarData(tarefa.dataCriacao)}}</td>
            <td>{{formatarData(tarefa.dataConclusao)}}</td>
            <td>{{tarefa.percentual}}</td>
        </tr>
    </tbody>
</table>

